<div class="container">
    <div class="container__cost">
        <p class="container__cost__title">COST</p>
        <div class="container__cost__converter">
            <p class="container__cost__converter__text">Currency</p>
            <select class="container__cost__converter__select">
                <option class="container__cost__converter__select__currebct">SGD</option>
            </select>
            <div class="container__cost__converter__result">1 USD = 1.3161 SGD</div>
        </div>
    </div>

<section class="container__info">
    <div class="container__info__headers">
        <p class="container__info__headers__item">Port Expenses</p>
        <p class="container__info__headers__item">Account code</p>
        <p class="container__info__headers__item">Quotes</p>
        <p class="container__info__headers__item">Screened</p>
    </div>
    <div class="container__info__accounts">
        <p class="container__info__accounts__item">Barge Expenses</p>
        <p class="container__info__accounts__item">Acc-01</p>
        <p class="container__info__accounts__item">1000</p>
        <input class="container__info__accounts__item">
    </div>
    <div class="container__info__accounts">
        <p class="container__info__accounts__item">Fire Guard</p>
        <p class="container__info__accounts__item">Acc-02</p>
        <p class="container__info__accounts__item">2000</p>
        <input class="container__info__accounts__item">
    </div>


</section>

</div>
